@{
    ViewData["Title"] = "Home Page";
}
@model ResponseModel;
<div class="d-flex justify-content-center">
            <div class="spinner-border text-primary mb-3" 
                style="width: 3rem; height: 3rem; display: none" 
                role="status" id="loading">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
<div class="text-center">
    <form action="/Home/Index" method="post">
        <input name="name" type="text"/>
        <button type="submit">Поиск</button>
    </form>
        <a ajaxy href="/Home/SendResults?name=@Model.Name"><button>Сохранить в хранилище</button></a>
        <a href="/Home/GetDataFromDb" class="btn"><button>Получить все данные из хранилища</button></a>
    <table  class="table">
        <thead>
        <tr>
        <th>open</th>
        <th>high</th>
        <th>low</th>
        <th>last</th>
        <th>close</th>
        <th>volume</th>
        <th>date</th>
        <th>symbol</th>
        <th>exchange</th>
        </tr>
        </thead>
        @if (Model != null && Model.data != null)
    @foreach (var data in Model.data) { 
        <tr>
            <td>@data.Open</td>
            <td>@data.High</td>
            <td>@data.Low</td>
            <td>@data.Last</td>
            <td>@data.Close</td>
            <td>@data.Volume</td>
            <td>@data.Date</td>
            <td>@data.Symbol</td>
            <td>@data.Exchange</td>
        </tr>
    }
    @if (Model != null && Model.data == null && Model.Name!=null){
        <p>Что-то пошло не так: введенные данные неверны</p>
    }
    </table>
</div>
@section Scripts
{
    <script>

        $(function () {
            function displayBusyIndicator() {
            document.getElementById("loading").style.display = "block";
            }
            function hideBusyIndicator() {
            document.getElementById("loading").style.display = "none";
            }
            $("a[ajaxy]").click(function (e) {
                e.preventDefault();

                if (window.confirm("Вы уверены?")) {

                    var $this = $(this);
                    var url = $this.attr("href");
                    displayBusyIndicator();
                    $.post(url).done(function (res) {
                        hideBusyIndicator();
                        $this.closest("tr").fadeOut(300, function (a) {
                            $(this).remove();
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert("Что-то пошло не так" + errorThrown);
                    })
                }
            });
        });

    </script>
}